<a href="https://colab.research.google.com/github/falahamro/Imputing_Missing_Data/blob/main/Data_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
import pandas as pd
import numpy as np

In [ ]:
#let's import the raw data

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Feature Engineering/Chapter02/crx.data", header=None)

In [ ]:
# Now we will create the list of our variables 

varnames = ['A'+str(s) for s in range (1, 17)]

In [ ]:
# We add the variable names to the dataframe

data.columns = varnames

In [ ]:
varnames

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'A9',
 'A10',
 'A11',
 'A12',
 'A13',
 'A14',
 'A15',
 'A16']

In [ ]:
data

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  00202    0   +
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g  00043  560   +
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  00280  824   +
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  00100    3   +
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  00120    0   +
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ..
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  00260    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  00200  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  00200    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  00280  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g  00000    0   -

[690 rows x 16 columns]

In [ ]:
# let's replace the question marks (?) in the dataset with NumPy NaN values: 

data = data.replace('?', np.nan)

In [ ]:
# Recast the numerical variables as float data types: 

data['A2'] = data['A2'].astype('float')
data['A14'] = data['A14'].astype('float')

In [ ]:
# record the target variable as binary: 
data['A16'] = data['A16'].map({'+':1, '-': 0})

In [ ]:
# let's start off by introducing missing values at random positions in four variables: 

random.seed(9001)
values = set([random.randint(0, len(data)) for p in range (0, 100)])
for var in ['A3', 'A8', 'A9', 'A10']:
  data.loc[values, var] = np.nan

With random.randint(), we extracted random digits between 0 and the number of observations in the dataset, which is given by len(data), and used these digits as the indices of the dataframe where we introduce the NumPy NaN values.

In [ ]:
data.to_csv('creditApprovalUCI.csv', index=False)

In [ ]:
data.head()

  A1     A2     A3 A4 A5 A6 A7    A8   A9  A10  A11 A12 A13    A14  A15  A16
0  b  30.83  0.000  u  g  w  v  1.25    t    t    1   f   g  202.0    0    1
1  a  58.67  4.460  u  g  q  h  3.04    t    t    6   f   g   43.0  560    1
2  a  24.50    NaN  u  g  q  h   NaN  NaN  NaN    0   f   g  280.0  824    1
3  b  27.83  1.540  u  g  w  v  3.75    t    t    5   t   g  100.0    3    1
4  b  20.17  5.625  u  g  w  v  1.71    t    f    0   f   s  120.0    0    1

In [ ]:
#let's find the categorical variables: 

cat_var = [var for var in data.columns if data[var].dtype=='O']
data[cat_var].head()

  A1 A4 A5 A6 A7   A9  A10 A12 A13
0  b  u  g  w  v    t    t   f   g
1  a  u  g  q  h    t    t   f   g
2  a  u  g  q  h  NaN  NaN   f   g
3  b  u  g  w  v    t    t   t   g
4  b  u  g  w  v    t    f   f   s

In [ ]:
# Let's find our numerical variables 

num_var = [var for var in data.columns if data[var].dtype!='O']
data[num_var].head()

      A2     A3    A8  A11    A14  A15  A16
0  30.83  0.000  1.25    1  202.0    0    1
1  58.67  4.460  3.04    6   43.0  560    1
2  24.50    NaN   NaN    0  280.0  824    1
3  27.83  1.540  3.75    5  100.0    3    1
4  20.17  5.625  1.71    0  120.0    0    1